@media (max-width: 768px) {
  h1 {
    color: #fff;
    font-family: Raleway;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
  }

  .logo-mobile {
    fill: var(--text-color-white-on-black);
    /* fill: red; */
  }
  .container {
    /* max-width: 100%; */
  }

  .hidden {
    display: none;
  }

  nav ul {
    display: none;
  }
  .menu-up-container nav {
    display: flex;
    justify-content: space-between;
  }

  .menu-up-container address {
    display: none;
  }

  .header-container {
    color: var(--text-color-white-on-black);
    /* margin-top: 40px; */
    /* height: 680px; */
    /* display: flex;
    justify-content: space-between; */
  }

  .main-text {
    margin-top: 208px;
    margin-bottom: 209px;
  }

  .right-hero-section {
    display: block;

    /* width: 100%; */
    /* height: 100%; */
    padding-left: 10%;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 30px;
    background-image: url(../images/slider-img-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .left-text-above {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--text-color-gray-on-black);

    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: uppercase;
  }
  .left-text-beside {
    width: 360px;
    color: var(--text-color-gray-on-black);

    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.32px;
  }
  .pagination-right {
    display: none;
  }
  .slider-buttons {
    display: none;
  }
  .slider-paginations-mobile {
    display: flex;
    justify-content: center;
  }

  .slider-paginations-mobile svg {
    width: 160px;
    height: 2px;
  }
}
