@import "normalize.css";
@import url("globals.css");
@import url("vars.css");

svg {
  fill: black;
}

header {
  display: flex;
  justify-content: center;
}

.header-container {
  color: var(--text-color-white-on-black);
  height: 680px;
  display: flex;
  justify-content: space-between;
}

.menu-left-container {
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 272px;
  padding-top: 22px;
}

.horizontal-list {
  color: black;
  display: flex;
  align-items: center;
  rotate: 90deg;
  gap: 40px;
}
.horizontal-list .menu-link {
  color: black;

  /* Small text/theme-light */
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px; /* 136.364% */
  letter-spacing: 2.2px;
  transition-property: color;
  transition-duration: 0.3s;
}
.menu-link {
  transition-property: color;
  transition-duration: 0.3s;
}

.menu-link:hover {
  color: var(--text-color-orange);
}

.right-hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  /* height: 100%; */
  padding-left: 100px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(../images/slider-img-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-up-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  gap: 30px;
}

.menu-link {
  color: var(--text-color-white-on-black);
}

.main-text {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-text-above {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--text-color-gray-on-black);
  text-transform: uppercase;
}

.left-text-beside {
  width: 360px;
  color: var(--text-color-gray-on-black);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
}

.pagination-right {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  /* width: 18px; */
}
.pagination-right > hr {
  width: 8px;
  height: 2px;
  margin-left: auto;
}

.pagination-right > hr:first-child {
  width: 18px;
  background-color: var(--text-color-white-on-black);
}

.slider-buttons {
  position: relative;
  color: var(--text-color-gray-on-black);
  display: flex;
  justify-content: end;
  gap: 64px;
}
.slider-back-button,
.slider-forward-button {
  transition-property: color;
  transition-duration: 0.3s;
}

.slider-back-button:hover,
.slider-forward-button:hover {
  cursor: pointer;
  color: var(--text-color-white-on-black);
}
.slider-back-button::after,
.slider-forward-button::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  margin-top: 8px;
  background-color: var(--text-color-gray-on-black);
  transition-property: background-color;
  transition-duration: 0.3s;
}

.slider-back-button:hover::after,
.slider-forward-button:hover::after {
  background-color: var(--text-color-white-on-black);
}

/* .slider-back-button > hr:hover {
  background-color: var(--text-color-white-on-black);
} */

address ul {
  display: flex;
  gap: 20px;
  align-items: center;
}

address {
  font-size: 12px;
  font-style: normal;

  letter-spacing: 1.08px;
  text-transform: uppercase;
}

address button {
  border-radius: 25px;
  border: 1px solid var(--text-color-orange);
  background-color: transparent;
  color: var(--text-color-white-on-black);
  padding: 12px 20px;
  letter-spacing: 1.08px;
  transition-property: background-color;
  transition-duration: 0.3s;
}

address button:hover {
  background-color: var(--text-color-orange);
}
